.surface-0 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.grid {
  display: grid;
  justify-content: center;
  padding: 1rem;
  min-width: 80%;
}

.col-12 {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

.col-12.xl:col-6 {
  border-radius: 56px;
  padding: 0.3rem;
  background: linear-gradient(180deg, rgba(247, 149, 48, 0.4) 10%, rgba(247, 149, 48, 0) 30%);
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.py-7 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.text-3xl {
  font-size: 1.5rem;
}

.mb-3, .mb-5 {
  margin-bottom: 0.5rem;
}

.text-xl {
  font-size: 0.9rem;
}

.p-3 {
  padding: 0.5rem;
}

input[type="email"],
input[type="password"],
button[type="submit"] {
  padding: 1rem;
  font-size: 0.9rem;
  width: 100%;
}

.input-container {
  position: relative;
  width: 100%;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password:hover {
  cursor: pointer;
}
