<div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="fullscreen-image-container">
          <img src="assets/demo/images/nature/bd.jpeg" class="img-fluid" alt="Nature Image">
          <div class="message-overlay">
            <h2>Email Verification</h2>
            <p class="message">Vous avez reçu un email.</p>
                <p> Veuillez consulter votre boîte de réception pour vérifier votre mot de passe.</p>
            <div class="col-12 mt-5 text-center">
              <i class="pi pi-fw pi-arrow-left text-blue-500 mr-2" style="vertical-align:center;" (click)="redirectToLogin()"></i><a class="text-blue-500 custom-link" (click)="redirectToLogin()" style="cursor: pointer;">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  